<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="VerifyAdressKey" value="AIzaSyA0GOe0yRcs2pospZQV096sqg15BJO7AZ4" />
    <add key="GetSingleEventMap" value="AIzaSyCr8AkfP2MYU1JKTXPLlm5YH2UlU5NERZo" />
    <add key="GetTransferMap" value="AIzaSyBeQ1AFMPpVDc2IlGJxWyw8FR2fAg4yPxU" />
    <add key="GetTimeAndDistance" value="AIzaSyCv7ehFKbceOdWqVvFulZI9RJRaTVd2JVc" />
  </appSettings>
</configuration>